@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    background: #0a0a0a;
    color: white;
    font-family: 'Poppins';
}

h1 {
    font-size: 5em;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 0.2em;
    animation: heading 0.6s ease-out forwards;

}

@keyframes heading {
  
    0% {
        opacity: 0;
        translate: 0 .5em;
    }
    100% {
        opacity: 1;
        translate: 0 0;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* -- Buttons -- */
.buttons {
  display: flex;
  gap: 2em;
}

.button-46 {
  align-items: center;
  background-color: rgba(26, 26, 26, 0.26);
  border: 1px solid #2c2c2c;
  border-radius: 16px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 28px;
  max-width: 100%;
  padding: 14px 22px;
  text-decoration: none;
  transition: all .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-46:active,
.button-46:hover {
  outline: 0;
}

.button-46:hover {
  background-color: #1b1a1a;
  border-color: rgba(31, 31, 31, 0.19);
}

@media (min-width: 768px) {
  .button-46 {
    font-size: 20px;
    min-width: 200px;
    padding: 14px 16px;
  }
}

/* -- Form -- */
.editor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

select {
  background-color: rgba(26, 26, 26, 0.26);
  border: 1px solid #2c2c2c;
  padding: 10px;
  border-radius: 10px;
  color: white;
  width: 35vw;
  max-width: 35vw;
}

input, textarea {
  background-color: rgba(26, 26, 26, 0.26);
  border: 1px solid #2c2c2c;
  padding: 10px;
  border-radius: 10px;
  color: white;

  width: 50vw;
  max-width: 50vw;
  resize: none;
  font-size: 1.1rem;
}

textarea {
  margin-top: 2%;
  height: 50vh;
}

input:focus, textarea:focus {
  outline: none;
}

.qr {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  border: solid rgba(28, 28, 28, 0.815) 1px;
  align-items: center;
}

.canvas {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.links {
  padding: 20px;
  border-radius: 10px;
  border: solid rgba(28, 28, 28, 0.815) 1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}



.share {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

#options {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  border: ;
}